<%- include("../partials/start.ejs") -%>
<link rel="stylesheet" href="/stylesheets/edit_profile.css" class="css">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<%- include("../partials/header.ejs") -%>

<form action="/profile/account" method="post" id="main_page">
    <div class="video-background">
        <video autoplay loop muted>
            <source src="/images/tech-background.mp4" type="video/mp4">
        </video>
    </div>
    <div class="color_tint"></div>
    <div id="page_content">
        <div class="half_unit">
            <div class="unit_content">
                <h1>Cambiar tus datos de usuario</h1>
            </div>
            <div class="unit_content">
                <p>Nombre de usuario</p>
                <input type="text" name="username_form" value=<%= username %>>
            </div>
            <div class="unit_content">
                <p>Biografía</p>
                <textarea type="text" maxlength="300" name="biography_form"><%= biography %></textarea>
            </div>
            <div class="unit_content">
                <p>Teléfono</p>
                <input type="text" name="phone_form" value=<%= phone %>>
            </div>

        </div>
        <div class="half_unit" id="der">
            <div class="unit_image">
                <div class="image_container">
                    <img src="http://192.168.1.33/images/pfp/<%= myuser.mypfp %>">
                </div>
                <div class="insert_file" id="cambiar_foto_de_perfil">
                    <p >Nueva foto de perfil</p>
                    <i class="fa-regular fa-pen-to-square"></i>
                </div>

            </div>
            <div class="unit_content" style="padding-bottom: 5vh">
                <p>Nueva contraseña</p>
                <input type="password" placeholder="Nueva contraseña" name="pass_form">
                <span>Dejar en blanco ambos campos si no se desea cambiar</span>
                
            </div>
            <div class="unit_content">
                <p>Repetir contraseña</p>
                <input type="password" placeholder="Repetir contraseña" name="pass_form_repeat">
                
                
            </div>

            <div class="unit_content alone_button">
                <span style="color:rgb(212, 255, 162);font-size: small;margin-right: 10%"> <%= message %></span>
                <button type="submit" class="full_yellow_button">Confirmar cambios</button>
            </div>

        </div>
    </div>
    

</form>

<script>
    document.getElementById('cambiar_foto_de_perfil').addEventListener('click',()=>{
        show_image()
    })
    function show_image(){
        Swal.fire({
            html: `
            <form class="insert_image_file" action="/profile/change_image" method="post" enctype="multipart/form-data">
                <p id="cambiar_foto_de_perfil">Nueva foto de perfil</p>
                <input type="file" name="file">
                <button class="full_yellow_button" type="submit">Cambiar foto de perfil</button>
            </form>
            `,
            showConfirmButton: false,
            //Esto es animate.css
            showClass: { popup: `animate__animated animate__faster animate__headShake`},
            hideClass: { popup: `animate__animated animate__fadeOutDown animate__faster ` }
        })
    }
</script>

<%- include("../partials/end.ejs") -%>