<%- include("../partials/start.ejs") -%>
<link rel="stylesheet" href="/stylesheets/course_filter_style.css" class="css">
</head>
<body>
<%- include("../partials/header.ejs") -%>

<div id="main_page2">
    
    <div id="main_content">
        <div id="main_content_title">
            <h1>¡Encuentra el curso perfecto!</h1>
        </div>
        <div id="filter_container">
            <div id="filter_classes_category">
                
                <div class="filter_button">
                    <select id="category" >
            
                        <option value="">Todas las categorías</option>
                        <% Object.keys(jsonData).forEach(category => { %>
                            <option value="<%= category %>"><%= category %></option>
                        <% }) %>
                    </select>
                </div>
                <div id="class_container" class="filter_button">
                    <select id="class_select" name="class_select"></select>
                </div>
            </div>
            <div id="filter_prices">
                <input type="number" id="filter_price_min" placeholder="Precio mínimo" />
                <input type="number" id="filter_price_max" placeholder="Precio máximo" />
            </div>
        </div>
        <div id="all_courses_container_background">
            <div id="background_courses">
                <video autoplay loop muted>
                    <source src="/images/tech-background.mp4" type="video/mp4">
                </video>
            </div>
            <div id="all_courses_container">
                <% courses.forEach(course=>{ %>

                    <% if (Math.trunc(course.discount) !== 0) { %>
                        <% course_off = course.price - ((course.price * course.discount) / 100) %>

                    <div class="course_unit" data-class="<%= course.class %>" data-category="<%= course.category %>" data-price="<%= course_off %>" >
                    
                    <% } else{  %>

                        <div class="course_unit" data-class="<%= course.class %>" data-category="<%= course.category %>" data-price="<%= course.price %>" >
                    
                    <% } %>
                
                    
                        <div class="course_image">
                            <img src="http://192.168.1.33/images/backgrounds/<%= course.background_image %>" alt="">
                        </div>
            
                        <h1><%= course.title %></p>
                        <h3><%= course.category %></h3>
                        <h5><%= course.class %></h3>
                        
                        
                        
            
                        <div class="price_container">
                            <% if (Math.trunc(course.discount) !== 0) { //Si hay descuento, lo enseña%>
                            <h4><s><%= course.price %>€</s></h4> 
                            <h2><%= course.price - ((course.price * course.discount) / 100) %>€</h2>
                            <h2 class="off"><%= course.discount %>% OFF</h2>
            
                            <% } else{ //Si no hay descuento, pone el precio talcual %> 
                                <% if(course.price == 0.00) { %>
                                    <h2>Gratis</h2> 
                                <% }else{ %>
                                    <h2><%= course.price %>€ </h2> 
                                <% } %>
                            <% } %>
                        </div>
                        <div class="empty"></div>
                        <div class="watch_button_username">
                            <div class="username_container">
                                <a href="/profile/<%= course.owner_id %>">Creado por: <%= users.find(user => user.id === course.owner_id).username %></a>
                                <% if (course.owner_id===1){ %>
                                    <p>Oficial</span>
                                <% } %>
                            </div>
                            <a class="button_ver" href="/courses/watch/<%= course.id %>">Ver</a>
                        </div>
                    </div>
                
                <% }) %>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        let class_container = document.getElementById("class_container")
        let category = document.getElementById("category")
        let filter_price_min = document.getElementById('filter_price_min')
        let filter_price_max = document.getElementById('filter_price_max')
        let courses = document.querySelectorAll('.course_unit')

        //Conseguimos los datos del json
        let datos = <%- JSON.stringify(jsonData) %>;

        let filterCourses = () => {

            let class_select = document.getElementById('class_select')

            //Si no existe, le ponemos string vacio
            let  class_value
            if (class_select) {  class_value = class_select.value}
            else {  class_value = '' }

            let categoria_value = category.value;
            
            //valor del input de los precios. Si no hay nada, se pone valor por defecto
            let price_min = parseFloat(filter_price_min.value) || 0
            let price_max = parseFloat(filter_price_max.value) || 700
            
            courses.forEach(course => {

                let course_class = course.getAttribute('data-class')
                let course_category = course.getAttribute('data-category')
                let course_price = parseFloat(course.getAttribute('data-price'))

                let visible = true

                //Por cada curso, miramos si mira los criterios. Si no, no se mostrará
                if ( class_value && course_class !==  class_value) { visible = false }

                if (categoria_value && course_category !== categoria_value) { visible = false }

                if (course_price < price_min || course_price > price_max) { visible = false }

                if (visible === true){
                    course.style.display= 'block'
                }else{
                    course.style.display= 'none'
                }

            })

            //Si la categoria es "Todos" quitamos el botón de clase
            if (categoria_value===''){
                document.getElementById('class_container').innerHTML=""
            }

        }

        let change_select = () => {
            //valor del select de categoria
            let category_val = category.value
            
            if (category_val!==""){
                let myselect = document.createElement('select')
                myselect.id = 'class_select'

                //Creamos una opcion default de todos
                let myoption = document.createElement("option")
                myoption.value = ""
                myoption.text = "Todos"
                myselect.appendChild(myoption)

                
                //Por cada valor del array, creamos una opción
                datos[category_val].forEach(item => {

                    let option = document.createElement("option")
                    option.value = item
                    option.text = item
                    myselect.appendChild(option)
                })
                

                class_container.innerHTML = ""
                class_container.appendChild(myselect)

                myselect.addEventListener('change', filterCourses)
                // Aplicamos de nuevo los filtros por que hemos borrado todo el select de las clases
                filterCourses()  
            }else{
                filterCourses()
            }
            
        }

        category.addEventListener("change", change_select)
        filter_price_min.addEventListener('input', filterCourses)
        filter_price_max.addEventListener('input', filterCourses)

        filterCourses()
    })

</script>

<%- include("../partials/end.ejs") -%>