<%- include("../partials/start.ejs") -%>

<%- include("../partials/header.ejs") -%>

<h1>Ver curso</h1>
<div>
    <h1><%= course.title %></h1>
    <p><%= course.description %></p>
    <div>
        <span>Clase: <%= course.class %></span>
        <span>Categoria: <%= course.category %></span>
    </div>
    <div>
        <span>Tags:</span>
        <% course_tags.forEach(tag => { %>
        <span> <%= tag %></span>
        <% }); %>
    </div>
    <div>
        

        


        <div>
            <% if (reviews.length !== 0) { %>
                <% for (let i = 0; i < 5; i++) { %>
                    <% if (i < Math.floor(course.rating)) { %>
                        <i class="fa-solid fa-star"></i>
                    <% } else if (i === Math.floor(course.rating) && course.rating % 1 >= 0.5) { %>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    <% } else { %>
                        <i class="fa-regular fa-star"></i>
                    <% } %>
                <% } %>
            <% } %>
        </div>



        <div>
        <% if( is_owned){ //Si es tu propio curso %>
            <% if(reviews.length==1){%>
            <span>Tú curso tiene <%= reviews.length %> review</span>
            <% }else if(reviews.length===0){%>
            <span>Tú curso aun no ha recibido ninguna review</span>
            <% } else{ %>
                <span>Tú curso tiene un total de <%= reviews.length %> reviews</span>
            <% } %>


        <% }else{ //Si no es tu curso %>
            <% if(!is_bought){ //Si no lo has comprado%>

                <% if( course.rating===0){ //Si es 0 %>
                    <span>Este curso aún no ha recibido ninguna review </span>
        
                <% }else{ //Si NO es 0 %>
                <span>Número total de reviews: <%= reviews.length %> </span>
                <span>Adquiere el curso para dejar una tú también </span>
                <% } %>

            <% } else{  //Si lo has comprado%>
                <% if (course.rating===0){ //Si es 0 %>
                    <span>Este curso aún no ha recibido ninguna review</span>
                    <span>¡Se tú el primero en hacerlo!</span>

                <% }else if(p_rating===0){ //NO ha hecho review %>
                    <span>Número total de reviews: <%= reviews.length %> </span>
                    <span>¡Puedes dejar una tú también para ayudar a otros usuarios!</span>
                        
                <% }else if(p_rating !==0){ //SÍ ha hecho review %>
                <span>Número total de reviews: <%= reviews.length %> </span>
    
                    <% if(p_rating===1){ //Si la valoración es 1, te lo muestra en singular %>
                    <span>Tu valoración actual es <%= p_rating %> estrella</span>
                    <% }else{ //Si la valoración es más, te lo muestra en plural %>
                    <span>Tu valoración actual son <%= p_rating %> estrellas</span>
                    <% } %>
                <% } %>
            <% } %>
        <% } %>
        </div>

        <div>
            <% if (price_discount!==0){ //Si hay descuento, lo mostramos%>
            <h4><s><%= course.price %>€</s></h4> 
            <h2><%= price_discount %>€</h2>
            <h2><%= course.discount %>% OFF</h2>

            <% } else{ //Si no hay descuento, pone el precio talcual %> 
            <h2><%= course.price %>€ </h2> 
            <% } %>
        </div>


        <% if (!is_owned && !is_bought){ %>
            <a href="courses/buy/<%= course.id %>">Comprar</a>
        <% } %>

        <span><%= course.total_purchases %> personas han comprado este curso</span>
    </div>

    
</div>
<% if (!is_owned && is_bought){ %>
<form method="POST" action="/courses/comment_review/<%= course_id %>">
    <h3>Dejar tu review</h3>
    <input id="stars" type="hidden" name="stars" value="5">
    <textarea name="review_description"><%= p_description %></textarea>
    <div class="star-rating">
        <% for(let i=0; i<5; i++){ %>
            <% if (i<p_rating) { %>
                <i class="fa-solid fa-star review_stars" data-value="<%= i+1 %>"></i>
                <% }else { %>
                <i class="fa-regular fa-star review_stars" data-value="<%= i+1 %>"></i>
            <% } %>
        <% } %>
    </div>
    <button type="submit">Publicar</button>
</form>
<% } %>  
<br>
<span><b>Comentarios</b> <%= all_comments.length %></span>
<% count = 0; all_comments.forEach(comment=>{  %>
    <div>
        <h4><%= comment.username %></h4>    
        <div>
            <% for(let i=0; i<5; i++){ %>
                <% if (i<comment.stars) { %>
                    <i class="fa-solid fa-star <%= count+'-star' %>" data-value="<%= i+1 %>" @onclick='change_star( <%= i %> , <%= count+'-star' %> )'></i>
                    <% }else { %>
                    <i class="fa-regular fa-star <%= count+'-star' %>" data-value="<%= i+1 %>" @onclick='change_star( <%= i %> , <%= count+'-star' %> )'></i>
                <% } %>
            <% } %>
        </div>
        <p><%= comment.comment %></p>
    </div>
<% count += 1 })%>

<script>
    document.querySelectorAll('.review_stars').forEach(star => {
        star.addEventListener('click', function() {
            let number = this.getAttribute('data-value');
            document.getElementById('stars').value=number
            change_star(number,'.review_stars');
        });
    });

    function change_star(number,unique_class) {
        console.log("hola")
        document.querySelectorAll(unique_class).forEach(star =>{
            if (star.getAttribute('data-value') <= number){
                star.classList.add('fa-solid');
                star.classList.remove('fa-regular');
            } else {
                star.classList.add('fa-regular');
                star.classList.remove('fa-solid');
            }
        })
    }
</script>


<%- include("../partials/end.ejs") -%>