<%- include("../../partials/start.ejs") -%>
</head>
<body>
<%- include("../../partials/header.ejs") -%>

<h1><%= course.title %></h1>
<h3><%= section.segment %>-<%= section.component %> <%= section.title %> </h3>
<p><%= section.description %></p>


<% if (is_owned){ %>
    <a href="/courses/edit/<%= course.id %>/<%= section.id %>">
        <i class="fa-solid fa-pen-to-square"></i>
        Editar componente
    </a>
<% } %>


<% if (section.video_name!=="" && section.video_name!==null){ %>
    <br>
    <video width="500" height="300" controls>
    <source src="http://192.168.1.34/videos/<%= course.owner_id %>/<%= section.video_name %>" type="video/mp4">
    Se ha producido un error con el video
</video>
<% }else{ %>
<span>No se ha proporcionado un video aún</span>
<% } %>

<% if (!is_owned){ %>
<%- include("../../partials/see_sections.ejs") -%>
<% } %>

<%- include("../../partials/end.ejs") -%>