<%- include("./partials/start.ejs") -%>

<%- include("./partials/header.ejs") -%>
   
<h1>Profile</h1>
<div>
   <a href="/profile/account">Editar perfil</a>
   <a href="/profile/password">Cambiar contraseña</a>
   <a href="/courses/subscriptions">Cursos subscritos</a>
   <a href="/courses/new">Crear curso</a>
   <a href="/profile/whishlist">Wishlist</a>
   <a href="/profile/deactivate">Desactivar cuenta</a>
    

</div>

<div>
   <% courses.forEach(course => { %>
      <form action="/profile/<%= course.id %>" method="POST">
         <h1><%= course.title %>, <%= course.id %></h1>
         <button type="submit">Ver</button>
      </form>
   <% }); %>
 </div>

<%- include("./partials/end.ejs") -%>